<head>
   <style>
       .skeleton
       {
            margin: 0 auto;
            width: 350px;
       }
       #skeleton-image
       {
           background-color: #c4c4c4;
           height: 140px;
       }
       #skeleton-title
       {
           background-color: #757575;
           height: 20px;
       }
       #skeleton-body
       {
           background-color: #757575;
           height: 10px;
       }
       #skeleton-like
       {
           width: 162px;
           height: 35px;
       }
       #skeleton-dislike
       {
           width: 92px;
           height: 35px;
       }
       #container
       {
           margin: 0 auto;
       }
   </style> 
</head>
<body>
     <br>
     <div class="skeleton">
        <div class="card">
            <div class="card-block" id="skeleton-image"></div>
                <div class="card-block">
                    <div id="skeleton-title"></div>
                    <p></p>
                        <div id="skeleton-body"></div>
                        <p></p>
                        <button type='button' class="btn btn-primary" id="skeleton-like"></button>
                        <button type='button' class="btn btn-danger" id="skeleton-dislike"></button>
                        </div>
                        <h3>Loading....</h3>
                    </div>
                </div>
     <div id="container">
     </div>
</body>

<script>
    <% if user_signed_in? %>
        var likes = <%= current_user.counter %>;
        var current_email = "<%= current_user.email %>";
    <%else %>
        var likes = 2;
    <% end %>
    
    setTimeout(function(){
        if ( $( ".skeleton" ).length ) 
        {
           location.reload();
           
        }
    }, 1000);
    var interested;
    var matches = <%= raw @connections.to_json %>;
    var post = <%= raw @jobs.to_json %>;
    for(var i = 0; i < matches.length; i += 1)
    {
        for(var x = 0; x < post.length; x++)
        {
            if(current_email == matches[i].talent && matches[i].company == post[x].title)
            {
                console.log("hello");
                post.splice(x,1);
            }
        }
    }
    console.log(post);

</script>