<br>
                <div id="main">
                      <div class="card">
                        <img class="card-img-top" src=<%= @job.image %> alt="Card image cap" />
                        <div class="card-block">
                          <h4 class="card-title"><%= @job.title %></h4>
                          <p class="card-text"><%= @job.body %></p>
                          <button type='button' class="btn btn-primary"> Yes, I'm Interested </button>
                          <button type='button' class="btn btn-danger"> No, Skip </button>
                        </div>
                      </div>
                  </div>
<style>
    img
    {
        height:200px;
        width: 350px;
    }
</style>